<!DOCTYPE html>
<html dir="ltr" lang="en">
<%- include('../layout/HeadSection.ejs') -%>

    <body>

        <!-- Preloader - style you can find in spinners.css -->

        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <!-- Main wrapper - style you can find in pages.scss -->

        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
            data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

            <!-- Topbar header - style you can find in pages.scss -->

            <%- include('../layout/Header.ejs')-%>

                <!-- End Topbar header -->


                <!-- Left Sidebar - style you can find in sidebar.scss  -->

                <%-include('../layout/SideBar.ejs')-%>

                    <!-- End Left Sidebar - style you can find in sidebar.scss  -->


                    <!-- Page wrapper  -->

                    <div class="page-wrapper">

                        <!-- Bread crumb and right sidebar toggle -->

                        <div class="page-breadcrumb">
                            <div class="row">
                                <div class="col-12 d-flex no-block align-items-center">
                                    <div class="ms-auto text-end">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    Add
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End Bread crumb and right sidebar toggle -->


                        <!-- Container fluid  -->

                        <div class="container-fluid">

                            <!-- Sales Cards  -->
                            <div class="container">

                                <div class="row">
                                    <form class="form-horizontal" method="post" action="/api/category/<%=category._id%>">
                                        <div class="card-body">
                                            <h4 class="card-title">Update Category</h4>
                                            <div class="form-group row">
                                                <label for="fname"
                                                    class="col-sm-3 text-end control-label col-form-label">Category
                                                    Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="fname" name="cat_name"
                                                        value="<%= category.cat_name %>"
                                                        placeholder="Category Name Here" />
                                                </div>
                                            </div>
                                            <!-- <div class="form-group row">
                                                <label for="lname"
                                                    class="col-sm-3 text-end control-label col-form-label">Last
                                                    Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="lname"
                                                        placeholder="Last Name Here" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lname"
                                                    class="col-sm-3 text-end control-label col-form-label">Password</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" id="lname"
                                                        placeholder="Password Here" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email1"
                                                    class="col-sm-3 text-end control-label col-form-label">Company</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="email1"
                                                        placeholder="Company Name Here" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="cono1"
                                                    class="col-sm-3 text-end control-label col-form-label">Contact
                                                    No</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="cono1"
                                                        placeholder="Contact No Here" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="cono1"
                                                    class="col-sm-3 text-end control-label col-form-label">Message</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div> -->
                                            <div class="border-top">
                                                <div class="card-body">
                                                    <button class="btn btn-primary">Update</button>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <footer class="footer text-center">
                            All Rights Reserved by Matrix-admin. Designed and Developed by
                            <a href="https://www.wrappixel.com">WrapPixel</a>.
                        </footer>
                    </div>
        </div>
        <%- include('../layout/JSlinks.ejs')-%>
    </body>

</html>